@charset "UTF-8";
/* リキッドレイアウト対応 */
body {
  font-family: "bookmania", serif;
  color: #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px) {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .u-mobile {
    display: none !important;
  }
}

.br-sp {
  display: block;
}
@media screen and (min-width: 768px) {
  .br-sp {
    display: none;
  }
}

.br-pc {
  display: none;
}
@media screen and (min-width: 768px) {
  .br-pc {
    display: block;
  }
}

html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 1.3710368466vw;
  }
}
@media (min-width: 1167px) {
  html {
    font-size: 16px;
  }
}

/* pcの電話番号発信対応 */
@media screen and (min-width: 768px) {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core root defaults */
/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

picture {
  display: block;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
  width: 100%;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Blur images when they have no alt attribute */
img:not([alt]) {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* フォームリセット */
input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

input[type=submit],
input[type=button],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.l-inner {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .l-inner {
    max-width: 1207px;
    padding-right: 20px;
    padding-left: 20px;
  }
}

@media screen and (min-width: 768px) {
  .l-snap {
    height: 100dvh;
    overflow-y: scroll;
    -ms-scroll-snap-type: y mandatory;
        scroll-snap-type: y mandatory;
  }
}

@media screen and (min-width: 768px) {
  .l-snap.is-scroll-fixed {
    overflow-y: hidden;
  }
}

.l-space {
  height: 100vh;
}

.c-btn {
  color: #97CE1C;
  border: 1px solid #97CE1C;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: block;
}

@media screen and (min-width: 768px) {
  .c-btn:hover {
    background-color: #97CE1C;
    color: #fff;
  }
}

.c-fade {
  opacity: 0;
  -webkit-transform: translateY(2.5rem);
          transform: translateY(2.5rem);
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
}

.c-fade__in {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  -webkit-transform: initial;
          transform: initial;
}

.c-section-title {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 2.0357142857;
  font-weight: 700;
}

body.js-color-about {
  background-color: #FCFCFA;
}

body.js-color-about .p-about {
  background-color: #FCFCFA;
}

body.js-color-information {
  background-color: #F8F8F5;
}

body.js-color-product {
  background-color: #fff;
}

.p-about {
  background-color: #FCFCFA;
  position: relative;
  z-index: 2;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .p-about {
    height: 100vh;
    height: 100vh;
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }
}

.p-about__title {
  font-size: 17px;
  font-size: 1.0625rem;
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 2.1176470588;
  text-align: center;
  color: #97CE1C;
}
@media screen and (min-width: 768px) {
  .p-about__title {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

.p-about__sub {
  margin-top: 70px;
  margin-top: 4.375rem;
  font-family: "zen-kaku-gothic-new", sans-serif;
  font-weight: 500;
  line-height: 2;
  text-align: center;
  font-size: 17px;
  font-size: 1.0625rem;
}
@media screen and (min-width: 768px) {
  .p-about__sub {
    font-size: 1.6875rem;
  }
}

.p-about__text {
  margin-top: 30px;
  margin-top: 1.875rem;
  font-family: "zen-kaku-gothic-new", sans-serif;
  font-weight: 500;
  line-height: 2.0769230769;
  font-size: 13px;
  font-size: 0.8125rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .p-about__text {
    width: 100%;
    max-width: 37.5rem;
    font-size: 1.125rem;
    line-height: 1.8888888889;
  }
}

.p-archive {
  margin-top: 100px;
  margin-top: 6.25rem;
}
@media screen and (min-width: 768px) {
  .p-archive {
    margin-top: 21.25rem;
    position: relative;
    z-index: 2;
    background-color: #fff;
  }
}

.p-archive__items {
  margin-top: 23px;
  margin-top: 1.4375rem;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(3, auto);
  gap: 5px;
  gap: 0.3125rem;
}
@media screen and (min-width: 768px) {
  .p-archive__items {
    grid-template-columns: repeat(3, 1fr);
    gap: 0.8125rem;
    grid-auto-flow: row;
  }
}

@media screen and (min-width: 768px) {
  .p-archive__item {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

.p-archive__item button {
  padding: 0;
}

.p-archive__image img {
  aspect-ratio: 380/475;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/*======================================================
    マウスオーバー
======================================================*/
@media screen and (min-width: 768px) {
  .p-archive__image img:hover {
    opacity: 0.8;
  }
}

.p-event {
  margin-top: 40px;
  margin-top: 2.5rem;
}
@media screen and (min-width: 768px) {
  .p-event {
    margin-top: 7.3125rem;
  }
}

.p-event__title {
  text-align: center;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 500;
  font-family: "zen-kaku-gothic-new", sans-serif;
}
@media screen and (min-width: 768px) {
  .p-event__title {
    font-size: 1.8125rem;
  }
}

.p-event__image {
  margin-top: 22px;
  margin-top: 1.375rem;
}
@media screen and (min-width: 768px) {
  .p-event__image {
    max-width: 40rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
  }
}

.p-event__image img {
  aspect-ratio: 375/250;
}

.p-event__inner {
  padding: 50px 20px;
  padding: 3.125rem 1.25rem;
  max-width: 500px;
  max-width: 31.25rem;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .p-event__inner {
    max-width: 40rem;
    padding-left: 0;
    padding-right: 0;
    padding-top: 2.5rem;
    padding-bottom: 11.5rem;
  }
}

.p-event__info {
  font-weight: 500;
  font-family: "zen-kaku-gothic-new", sans-serif;
  font-size: 16px;
  font-size: 1rem;
}
@media screen and (min-width: 768px) {
  .p-event__info {
    font-size: 1.375rem;
  }
}

.p-event__texts {
  margin-top: 35px;
  margin-top: 2.1875rem;
}
@media screen and (min-width: 768px) {
  .p-event__texts {
    margin-top: 1.875rem;
  }
}

.p-event__texts p {
  font-weight: 500;
  font-size: 13px;
  font-size: 0.8125rem;
  font-family: "zen-kaku-gothic-new", sans-serif;
  line-height: 2;
}
@media screen and (min-width: 768px) {
  .p-event__texts p {
    font-size: 0.875rem;
  }
}

.p-event__texts p:not(:first-child) {
  margin-top: 26px;
  margin-top: 1.625rem;
}
@media screen and (min-width: 768px) {
  .p-event__texts p:not(:first-child) {
    margin-top: 1.75rem;
  }
}

.p-event__cards {
  margin-top: 67px;
  margin-top: 4.1875rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 36px;
  gap: 2.25rem;
}
@media screen and (min-width: 768px) {
  .p-event__cards {
    max-width: 28.125rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.p-event__card {
  position: relative;
}

.p-event__card::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  top: -5%;
  left: -5%;
}

.p-event__card:nth-child(1)::after {
  background-image: url(../images/top/event_icon_front.svg);
}

.p-event__card:nth-child(2)::after {
  background-image: url(../images/top/event_icon_back.svg);
}

.p-event__btn {
  margin-top: 61px;
  margin-top: 3.8125rem;
  width: 104px;
  width: 6.5rem;
  height: 30px;
  height: 1.875rem;
  line-height: 32px;
  line-height: 2rem;
  text-align: center;
  border-radius: 1.875rem;
  font-size: 14px;
  font-size: 0.875rem;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .p-event__btn {
    width: 9.625rem;
    height: 2.8125rem;
    line-height: 2.875rem;
    border-radius: 2.3125rem;
    font-size: 1.25rem;
  }
}

.p-footer {
  padding-top: 41px;
  padding-top: 2.5625rem;
}
@media screen and (min-width: 768px) {
  .p-footer {
    padding-top: 3.9375rem;
    position: relative;
    background-color: #fff;
  }
}

.p-footer__staff {
  font-family: "aktiv-grotesk", sans-serif;
  text-align: center;
  font-size: 10px;
  font-size: 0.625rem;
  line-height: 1.6;
}
@media screen and (min-width: 768px) {
  .p-footer__staff {
    font-size: 0.6875rem;
  }
}

.p-footer__logo {
  width: 74px;
  width: 4.625rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 46px;
  margin-top: 2.875rem;
}
@media screen and (min-width: 768px) {
  .p-footer__logo {
    margin-top: 3.125rem;
  }
}

.p-footer__copy {
  margin-top: 37px;
  margin-top: 2.3125rem;
  text-align: center;
  line-height: 1.2;
  font-size: 10px;
  font-size: 0.625rem;
  font-family: "aktiv-grotesk", sans-serif;
  margin-bottom: 17px;
  margin-bottom: 1.0625rem;
}
@media screen and (min-width: 768px) {
  .p-footer__copy {
    font-size: 0.75rem;
    margin-bottom: 3.75rem;
  }
}

.p-header {
  height: 100vh;
  overflow: hidden;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
@media screen and (min-width: 768px) {
  .p-header {
    position: relative;
    height: 100vh;
    height: 100vh;
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }
}

.p-header.is-hidden {
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .p-header.is-hidden {
    opacity: 1;
  }
}

.p-header__inner {
  height: inherit;
}

.p-header__container {
  height: inherit;
  position: relative;
}

.p-header__slides {
  height: inherit;
  background-color: #FCFCFA;
}

.p-header__wrapper {
  height: inherit;
}

.p-header__slide {
  opacity: 1 !important;
}

.p-header__image {
  height: inherit;
}

.p-header__image img {
  height: 100% !important;
  aspect-ratio: 375/555;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.swiper-slide .p-header__image,
.swiper-slide .p-header__image img {
  /*切り替わり中は前のスライドのアニメーションを遅らせる*/
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

.swiper-slide .p-header__image {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  overflow: hidden;
}

.swiper-slide .p-header__image img {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0; /* 画像が非アクティブなときは不透明度を0に設定 */
}

.swiper-slide-active {
  /*アクティブなスライドが一番上に来るように*/
  z-index: 2;
}

.swiper-slide-active .p-header__image,
.swiper-slide-active .p-header__image img {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0.6s;
          transition-duration: 0.6s;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  opacity: 1; /* アクティブな画像を完全に表示 */
}

.p-header__title {
  position: absolute;
  content: "";
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 88%;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
}
@media screen and (min-width: 768px) {
  .p-header__title {
    top: 50%;
  }
}

.p-header__logo {
  display: block;
}
@media screen and (min-width: 768px) {
  .p-header__logo {
    max-width: 30.0625rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .p-information {
    padding-top: 7.125rem;
  }
}

.p-information__inner {
  padding-bottom: 30px;
  padding-bottom: 1.875rem;
  padding-top: 57px;
  padding-top: 3.5625rem;
}
@media screen and (min-width: 768px) {
  .p-information__inner {
    padding-top: 0rem;
  }
}

.p-information__logo {
  padding: 0 12px;
  padding: 0 0.75rem;
}
@media screen and (min-width: 768px) {
  .p-information__logo {
    padding: 0;
    max-width: 33.75rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.p-information__contents {
  font-family: "zen-kaku-gothic-new", sans-serif;
}

.p-information__images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
  gap: 2rem;
  padding: 0 26px;
  padding: 0 1.625rem;
  margin-top: 56px;
  margin-top: 3.5rem;
}

.p-information__qr {
  padding: 0 26px;
  padding: 0 1.625rem;
  margin-top: 56px;
  margin-top: 3.5rem;
  max-width: 450px;
  max-width: 28.125rem;
  margin-left: auto;
  margin-right: auto;
}
.p-information__title {
  margin-top: 27px;
  margin-top: 1.6875rem;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 2.0714285714;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p-information__title {
    font-size: 1.125rem;
    line-height: 2.1111111111;
  }
}

.p-information__text {
  margin-top: 22px;
  margin-top: 1.375rem;
  font-size: 11px;
  font-size: 0.6875rem;
  font-weight: 500;
  line-height: 2.1818181818;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .p-information__text {
    font-size: 0.8125rem;
    line-height: 2;
    margin-top: 1.0625rem;
  }
}

.p-information__text p {
  margin-top: 24px;
  margin-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .p-information__text p {
    margin-top: 1.625rem;
  }
}

.p-information__btn {
  margin-top: 57px;
  margin-top: 3.5625rem;
  color: #97ce1c;
  width: 300px;
  width: 18.75rem;
  margin-left: auto;
  margin-right: auto;
  height: 57px;
  height: 3.5625rem;
  line-height: 55px;
  line-height: 3.4375rem;
  border: 2px solid #97ce1c;
  border: 0.125rem solid #97ce1c;
  border-radius: 2.25rem;
  text-align: center;
  display: block;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .p-information__btn {
    margin-top: 2.875rem;
    width: 44.1875rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

@media screen and (min-width: 768px) {
  .p-information__btn:hover {
    color: #fff;
    background-color: #97ce1c;
  }
}

.p-information__notes {
  margin-top: 76px;
  margin-top: 4.75rem;
  font-size: 10px;
  font-size: 0.625rem;
  line-height: 1.8;
  letter-spacing: -0.02em;
  padding-left: 10px;
  padding-left: 0.625rem;
  padding-right: 10px;
  padding-right: 0.625rem;
}
@media screen and (min-width: 768px) {
  .p-information__notes {
    margin-top: 2.375rem;
    font-size: 0.6875rem;
    text-align: center;
  }
}

.p-modal {
  position: fixed;
  z-index: 10000; /*サイトによってここの数値は調整 */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}

.p-modal--2023.is-open--2023,
.p-modal--2022.is-open--2022,
.p-modal--2021.is-open--2021 {
  opacity: 1;
  visibility: visible;
  -webkit-animation: bgOpenAnime 0.4s ease-in-out;
          animation: bgOpenAnime 0.4s ease-in-out;
}

@-webkit-keyframes bgOpenAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bgOpenAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.p-modal__bg {
  width: 100%;
  height: 100%;
  background-color: rgba(30, 30, 30, .9);
}

.p-modal__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  max-width: 600px;
  max-width: 37.5rem;
  padding: 13px 0;
  padding: 0.8125rem 0;
  background-color: #C7D8AC;
  overflow-y: scroll;
}
@media screen and (min-width: 768px) {
  .p-modal__wrapper {
    max-width: 74rem;
  }
}

@media screen and (min-width: 768px) {
  .p-modal__contents {
    padding-left: 2.125rem;
    padding-right: 4.0625rem;
  }
}

@media screen and (min-width: 768px) {
  .p-modal__logo {
    padding-left: 2.125rem;
    padding-right: 4.0625rem;
  }
}

.p-modal__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 13px;
  top: 0.8125rem;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  height: 6.25rem;
  padding-left: 5px;
  padding-left: 0.3125rem;
  padding-right: 5px;
  padding-right: 0.3125rem;
  z-index: 10;
}
@media screen and (min-width: 768px) {
  .p-modal__header {
    top: 4.25rem;
  }
}

.p-modal__item {
  margin-top: 100px;
  margin-top: 6.25rem;
}
@media screen and (min-width: 768px) {
  .p-modal__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 11.5625rem;
  }
}

.p-modal__close {
  cursor: pointer;
  width: 22px;
  width: 1.375rem;
  height: 22px;
  height: 1.375rem;
  position: relative;
  z-index: 10000;
  margin-right: 10px;
  margin-right: 0.625rem;
}
@media screen and (min-width: 768px) {
  .p-modal__close {
    width: 3.75rem;
    height: 3.75rem;
    margin-top: -1.875rem;
    margin-right: 1.5625rem;
  }
}

.p-modal__close span {
  width: 30px;
  width: 1.875rem;
  height: 1px;
  height: 0.0625rem;
  background-color: #fff;
  position: absolute;
  content: "";
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
@media screen and (min-width: 768px) {
  .p-modal__close span {
    width: 5.1875rem;
  }
}

.p-modal__close span:nth-child(1) {
  top: 10.5px;
  top: 0.65625rem;
  right: -4px;
  right: -0.25rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
@media screen and (min-width: 768px) {
  .p-modal__close span:nth-child(1) {
    top: 1.875rem;
    right: -0.75rem;
  }
}

.p-modal__close span:nth-child(2) {
  top: 10.5px;
  top: 0.65625rem;
  right: -4px;
  right: -0.25rem;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
@media screen and (min-width: 768px) {
  .p-modal__close span:nth-child(2) {
    top: 1.875rem;
    right: -0.75rem;
    border: medium none currentColor;
    border: initial;
  }
}

.p-modal__images {
  margin-bottom: 0 !important;
  pointer-events: none;
  height: 100%;
  position: relative;
}
@media screen and (min-width: 768px) {
  .p-modal__images {
    width: 51%;
  }
}

.p-modal__images .slick-slide {
  position: relative;
  margin-bottom: 0;
}

.p-modal__images .slick-slide::before {
  content: "";
  display: block;
  padding-top: 62.388059701%;
}

.p-modal__images .slick-slide img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.p-modal__image img {
  aspect-ratio: 335/209;
}

.p-modal__comments {
  padding: 8px 0px 46px;
  padding: 0.5rem 0rem 2.875rem;
  font-family: "zen-kaku-gothic-new", sans-serif;
  color: #000343;
}
@media screen and (min-width: 768px) {
  .p-modal__comments {
    width: 49%;
    padding-top: 0;
    padding-left: 3.3125rem;
    margin-top: -0.4375rem;
  }
}

.p-modal__details:not(:first-child) {
  margin-top: 60px;
  margin-top: 3.75rem;
}
@media screen and (min-width: 768px) {
  .p-modal__details:not(:first-child) {
    width: 100%;
    padding-top: 0;
  }
}

.p-modal__text {
  font-weight: 600;
  line-height: 2;
  padding-left: 24px;
  padding-left: 1.5rem;
  padding-right: 5px;
  padding-right: 0.3125rem;
}
@media screen and (min-width: 768px) {
  .p-modal__text {
    margin-top: -0.625rem;
    padding: 0;
  }
}

.p-modal__text-sub {
  margin-top: 32px;
  margin-top: 2rem;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 2;
  font-weight: 400;
  padding-left: 24px;
  padding-left: 1.5rem;
  padding-right: 31px;
  padding-right: 1.9375rem;
}
@media screen and (min-width: 768px) {
  .p-modal__text-sub {
    padding: 0;
  }
}

.p-modal__text-sub p:not(:first-child) {
  margin-top: 26px;
  margin-top: 1.625rem;
}

/*======================================================
    モーダルのページネーション
======================================================*/
.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
  position: relative;
  z-index: 10;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 3px 0 0;
  margin: 0 0.1875rem 0 0;
}

.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 24px;
  bottom: 1.5rem;
  top: auto;
  top: initial;
  left: 10px;
  left: 0.625rem;
  z-index: 10;
}

.p-modal__pagination {
  text-align: left;
}

.p-modal__pagination span {
  width: 10px;
  width: 0.625rem;
  height: 10px;
  height: 0.625rem;
  background-color: transparent;
  border: 1px solid #fff;
  opacity: 1;
  margin: 0;
  z-index: 10;
}

/* ページネーションのサイズと色 */
.p-modal__pagination .swiper-pagination-bullet-active {
  background-color: #fff;
}

/* 画像サイズ調整 */
.swiper-slide img {
  height: auto;
  width: 100%;
  z-index: -1;
}

.p-photos {
  position: relative;
  z-index: 2;
}

.p-photos__info {
  color: #fff;
  position: fixed;
  content: "";
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  z-index: 10;
}

@media screen and (min-width: 768px) {
  .p-photos__info.is-index {
    position: relative;
    z-index: -1;
  }
}

.p-photos__details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  padding-top: 1.25rem;
  padding-left: 16px;
  padding-left: 1rem;
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .p-photos__details.-active {
    opacity: 1;
  }
}

.p-photos__number {
  font-size: 11px;
  font-size: 0.6875rem;
  letter-spacing: -0.02em;
  line-height: 1.4545454545;
  text-shadow: 0 0 10px rgba(0, 0, 0, .16);
  text-shadow: 0 0 0.625rem rgba(0, 0, 0, .16);
}
@media screen and (min-width: 768px) {
  .p-photos__number {
    font-size: 0.8125rem;
    line-height: 1.3846153846;
  }
}

.p-photos__name {
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 2;
  text-shadow: 0 0 10px rgba(0, 0, 0, .16);
  text-shadow: 0 0 0.625rem rgba(0, 0, 0, .16);
}
@media screen and (min-width: 768px) {
  .p-photos__name {
    font-size: 3.75rem;
    line-height: 1.5;
    text-shadow: 0 0 0.625rem rgba(0, 0, 0, .15);
  }
}

.p-photos__text {
  margin-top: -5px;
  margin-top: -0.3125rem;
}

.p-photos__text p {
  text-shadow: 0 0 10px rgba(0, 0, 0, .16);
  text-shadow: 0 0 0.625rem rgba(0, 0, 0, .16);
  font-size: 11px;
  font-size: 0.6875rem;
  letter-spacing: -0.02em;
  line-height: 1.4545454545;
}
@media screen and (min-width: 768px) {
  .p-photos__text p {
    font-size: 0.8125rem;
    line-height: 1.5384615385;
    text-shadow: 0 0 0.625rem rgba(0, 0, 0, .2);
  }
}

.p-photos__btn {
  font-size: 15px;
  font-size: 0.9375rem;
  letter-spacing: -0.02em;
  width: 57px;
  width: 3.5625rem;
  height: 24px;
  height: 1.5rem;
  line-height: 26px;
  line-height: 1.625rem;
  border: 1px solid #fff;
  text-transform: uppercase;
  border-radius: 1.375rem;
  display: block;
  text-align: center;
  margin-top: 15px;
  margin-top: 0.9375rem;
}
@media screen and (min-width: 768px) {
  .p-photos__btn {
    font-size: 1.3125rem;
    width: 4.9375rem;
    height: 2.0625rem;
    line-height: 2.1875rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

@media screen and (min-width: 768px) {
  .p-photos__block {
    line-height: 100vh;
    line-height: 100dvh;
    min-height: 100vh;
    min-height: 100dvh;
  }
}

.p-photos__items {
  pointer-events: none;
}
@media screen and (min-width: 768px) {
  .p-photos__items {
    height: 100vh;
    height: 100vh;
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }
}

@media screen and (min-width: 768px) {
  .p-photos__images {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: inherit;
  }
}

.p-photos__imageBox {
  margin-bottom: 1px;
}
@media screen and (min-width: 768px) {
  .p-photos__imageBox {
    margin-bottom: 0;
    height: inherit;
  }
}

@media screen and (min-width: 768px) {
  .p-photos__large {
    height: inherit;
  }
}

@media screen and (min-width: 768px) {
  .p-photos__large img {
    height: 100%;
    aspect-ratio: 640/800;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media screen and (min-width: 768px) {
  .p-photos__imageForcePc {
    display: inline;
    display: initial;
    margin-top: 0;
    gap: 0 0;
    margin-bottom: 0;
    height: inherit;
  }
}

.p-photos__imageForce {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1px 1px;
  gap: 0.0625rem 0.0625rem;
  margin-bottom: 1px;
}
@media screen and (min-width: 768px) {
  .p-photos__imageForce {
    display: inline;
    display: initial;
    margin-top: 0;
    gap: 0 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .p-photos__small {
    height: 100%;
  }
}

.p-photos__small img {
  aspect-ratio: 187/280;
  height: 100%;
}
@media screen and (min-width: 768px) {
  .p-photos__small img {
    aspect-ratio: 640/800;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
}

/*======================================================
    マウスオーバー
======================================================*/
@media screen and (min-width: 768px) {
  .p-photos__btn:hover {
    background-color: #fff;
    color: #000;
  }
}

/*======================================================
    pc偶数左右逆
======================================================*/
@media screen and (min-width: 768px) {
  .p-photos__items:nth-child(even) .p-photos__imageBox {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media screen and (min-width: 768px) {
  .p-photos__items:nth-child(even) .p-photos__imageForcePc {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.p-product__inner {
  padding-top: 41px;
  padding-top: 2.5625rem;
  padding-top: 107px;
  padding-top: 6.6875rem;
}

.p-product__unisex {
  margin-top: 30px;
  margin-top: 1.875rem;
}
@media screen and (min-width: 768px) {
  .p-product__unisex {
    margin-top: 4.6875rem;
  }
}

.p-product__kids {
  margin-top: 60px;
  margin-top: 3.75rem;
}
@media screen and (min-width: 768px) {
  .p-product__kids {
    margin-top: 4.1875rem;
  }
}

.p-product__type {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-product__type span {
  width: 100%;
  height: 1px;
  background-color: #000;
  display: block;
  margin-left: 10px;
  margin-left: 0.625rem;
}

.p-product__lists {
  margin-top: 10px;
  margin-top: 0.625rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9.9375rem, 1fr));
  gap: 20px 25px;
  gap: 1.25rem 1.5625rem;
}
@media screen and (min-width: 768px) {
  .p-product__lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    grid-template-columns: initial;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0;
    margin-top: 3.125rem;
  }
}

@media screen and (max-width: 370px) {
  .p-product__lists {
    gap: 1.25rem 1.25rem;
  }
}
.p-product__list {
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .p-product__list {
    display: block;
    margin-right: 2.625rem;
    width: calc(20% - 2.1rem);
  }
}

@media screen and (min-width: 768px) {
  .p-product__list:nth-child(5n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .p-product__list:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .p-product__list:nth-child(n+6) {
    margin-top: 2.1875rem;
  }
}

.p-product__info {
  text-align: center;
}

.p-product__number {
  font-size: 10px;
  font-size: 0.625rem;
  letter-spacing: -0.02em;
  font-weight: 400;
  line-height: 2;
}

.p-product__name {
  font-weight: 400;
  line-height: 1.25;
}
@media screen and (min-width: 768px) {
  .p-product__name {
    font-size: 1.125rem;
  }
}

.p-product__name span {
  display: block;
  margin-top: 2px;
  margin-top: 0.125rem;
  letter-spacing: -0.03em;
  font-size: 10px;
  font-size: 0.625rem;
  font-family: "zen-kaku-gothic-new", sans-serif;
  font-weight: 500;
}

.p-product__btn {
  width: 160px;
  width: 10rem;
  height: 30px;
  height: 1.875rem;
  line-height: 32px;
  line-height: 2rem;
  color: #97CE1C;
  border: 1px solid #97CE1C;
  border-radius: 1.25rem;
  font-size: 15px;
  font-size: 0.9375rem;
  margin-top: 8px;
  margin-top: 0.5rem;
  text-align: center;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .p-product__btn {
    font-size: 1.0625rem;
    width: 12.5rem;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
}

/*======================================================
    マウスオーバー
======================================================*/
@media screen and (min-width: 768px) {
  .p-product__list a:hover .p-product__btn {
    background-color: #97CE1C;
    color: #fff;
  }
}
/*# sourceMappingURL=styles.css.map */
