@use "global" as *;


.p-archive {
    margin-top: rem(100);

    @include mq(md) {
        margin-top: rem(340);
    }
    
}

.p-archive__items {
    margin-top: rem(23);
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, auto);
    gap: rem(5);
    
    @include mq(md) {
        grid-template-columns: repeat(3, 1fr);
        gap: rem(13);
        grid-auto-flow: row;
    }
}

.p-archive__item {
    @include mq(md) {
        transition: all .3s;
    }
}

.p-archive__item button {
    padding: 0;
}


.p-archive__image img {
    aspect-ratio: 380/475;
    transition: all .3s;
}

/*======================================================
    マウスオーバー
======================================================*/
.p-archive__image img:hover {
   opacity: .8;
}