@use "global" as *;



.p-header {
    // height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.p-header.is-hidden {
    opacity: 0;
}

.p-header__inner {
    height: inherit;
}

.p-header__container {
    height: inherit;
    position: relative;
}

.p-header__slides {
    height: inherit;
    // opacity: 0;
    // visibility: hidden;
    background-color: #FCFCFA;
}

.p-header__wrapper {
    height: inherit;
}

.p-header__slide {
    opacity: 1!important;
}


// .p-header__slide .p-header__image::after {
//     position: absolute;
//     content: "";
//     width: 100%;
//     height: 100%;
//     top: 0;
//     left: 0;
//     background-image: linear-gradient(270deg, #FCFCFA 0, #FCFCFA 50%, transparent 100%);
//     background-repeat: no-repeat;
//     -webkit-background-size: 200% 100%;
//     background-size: 200% 100%;
//     // -webkit-background-position: 0% 0;
//     background-position: 100% 0;
//     z-index: 10;
//     opacity: 1;
// }



.p-header__image {
    height: inherit;
}

.p-header__image img {
    height: 100%!important;
    aspect-ratio: 375/555;
    object-fit: cover;
    position: relative;
}

  
  .swiper-slide .p-header__image,
  .swiper-slide .p-header__image img {
    /*切り替わり中は前のスライドのアニメーションを遅らせる*/
    transition-delay: .6s;
    transition-property: transform, opacity;
  }
  
  
  .swiper-slide .p-header__image {
    transform: translateX(-100%);
    overflow: hidden;
  }
  .swiper-slide .p-header__image img {
    transform: translateX(100%);
    opacity: 0; /* 画像が非アクティブなときは不透明度を0に設定 */
  }
  
  .swiper-slide-active {
    /*アクティブなスライドが一番上に来るように*/
    z-index: 2;
  }
  
  .swiper-slide-active .p-header__image,
  .swiper-slide-active .p-header__image img {
    transition-delay: 0s;
    transition-duration: .6s;
    transform: translateX(0%);
    opacity: 1; /* アクティブな画像を完全に表示 */
  }

//   .swiper-slide .p-header__image img {
//     animation: 1s  normal forwards maskFadeOut;
// }

// @keyframes maskFadeOut {
//     0% {
//         transform: translateX(-110%);
//     }

//     100% {
//        transform: translateX(0);
        
//     }
// }



.p-header__title {
    position: absolute;
    content: "";
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    opacity: 0;
    visibility: hidden;

    @include mq(md) {
        top: 50%;
    }
}

.p-header__logo {
    display: block;

    @include mq(md) {
        max-width: rem(481);
        margin-left: auto;
        margin-right: auto;
    }
}
