@use "global" as *;

.p-product {

}

.p-product__inner {
    padding-top: rem(41);

    padding-top: rem(107);
}

.p-product__title {

}

.p-product__unisex {
    margin-top: rem(30);


    @include mq(md) {
        margin-top: rem(75);
    }
}

.p-product__kids {
    margin-top: rem(60);

    @include mq(md) {
        margin-top: rem(67);
    }
}

.p-product__type {
    
    font-size: rem(20);
    font-weight: 700;
    display: flex;
    align-items: center;
}

.p-product__type span {
    width: 100%;
    height: 1px;
    background-color: #000;
    display: block;
    margin-left: rem(10);
}

.p-product__lists {
    margin-top: rem(10);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(#{rem(159)}, 1fr));
    gap: rem(20) rem(25);

    @include mq(md) {
        // grid-template-columns: repeat(5, 1fr);
        // gap: rem(35) rem(42);
        // place-items: start center;
        display: flex;
        justify-content: center;
        grid-template-columns: initial;
        flex-wrap: wrap;
        gap: 0;
        margin-top: rem(50);
    }
}

@media screen and (max-width:370px){
    .p-product__lists {
        gap: rem(20) rem(20);
    }
}

.p-product__list {
    opacity: 0;
    @include mq(md) {
        display: block;
        margin-right: rem(42);
        width: calc(20% - #{rem(42)} * 4/5);
    }
}

.p-product__list:nth-child(5n) {
    @include mq(md) {
        margin-right: 0;
    }
}
.p-product__list:last-child {
    @include mq(md) {
        margin-right: 0;
    }
}

.p-product__list:nth-child(n + 6) {
    @include mq(md) {
        margin-top: rem(35);
    }
}

.p-product__image {

}

.p-product__info {
    text-align: center;
}

.p-product__number {
    font-size: rem(10);
    letter-spacing: -0.02em;
    font-weight: 400;
    line-height: 2;

}

.p-product__name {
    font-weight: 400;
    line-height: calc(20/16);
    
    @include mq(md) {
        font-size: rem(18);
    }
}

.p-product__name span {
    display: block;
    margin-top: rem(2);
    letter-spacing: -.03em;
    font-size: rem(10);
    font-family: $jp-font;
    font-weight: 500;
}

.p-product__btn {
    width: rem(160);
    height: rem(30);
    line-height: rem(32);
    color: #97CE1C;
    border: 1px solid #97CE1C;
    border-radius: rem(20);
    font-size: rem(15);
    margin-top: rem(8);
    text-align: center;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;

    @include mq(md) {
        font-size: rem(17);
        width: rem(200);
        transition: all .3s;
    }
}


/*======================================================
    マウスオーバー
======================================================*/

.p-product__list a:hover .p-product__btn {

    @include mq(md) {
        background-color: #97CE1C;
        color: #fff;
    }
}


