@use "global" as *;

body.js-color-about {
    background-color: #FCFCFA;
}

body.js-color-about .p-about{
    background-color: #FCFCFA;
}

body.js-color-information {
    background-color: #F8F8F5;
}

body.js-color-product {
    background-color: #fff;
}